{
    "extends": ["standard", "plugin:prettier/recommended"],
    "rules": {
      "prettier/prettier": "error",
      "no-throw-literal": "off",
      "no-unused-vars": "off"
    },
    "env": {
      "jest": true,
      "node": true
    }
  }
  